.Login {
  max-width: 70%;
  margin: auto;
}

.title {
  text-align: center;
}

.input_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.flexChild {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.input_wrapper label {
  display: inline-block;
  width: 7rem;
  text-align: left;
  font-size: 1rem;
}

.input_wrapper input {
  margin-top: 0.4rem;
  font-size: 1rem;
}

.input_wrapper select {
  margin-top: 0.4rem;
  font-size: 1rem;
}

.submit_btn {
  cursor: pointer;
  padding: 0.2rem;
}

.toc,
.toc input {
  cursor: pointer;
}

label.toc  {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

div.error {
  color: brown;
  font-weight: bold;
}

input.error {
  background-color: rgb(226, 190, 190);
}

select.error {
  background-color: rgb(226, 190, 190);
}

.form_error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.5rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 0;
}

.form_ok {
  color: rgb(20, 110, 80);
  padding: 0.5rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 0;
  font-weight: bold;

}

.break {
  flex-basis: 100%;
  height: 0;
}

.width_4rem {
  width: 4rem;
}